
@{
    ViewBag.Title = "GetUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetUser</h2>
<form action="CreateUser" method="post">
    <label>
        Email: 
    </label>
    <input type="email" name="email">
    <label>
        Password:
    </label>
    <input type="password" name="password" />
    <button type="submit" class="btn btn-success">Submit</button>
</form>

